

.About {
    color: beige;
    font-size:300%;
    position: fixed;
    width: 60%;
    top: 20%;
    left: 52.5%;
    right: 2%;
    margin-left: -38%;
    margin-right: 23.8%;
    padding-left: 5.6%;
    animation: fadeIn linear 4s;
}

.Test {
    padding-left: 19.6%;
    position: fixed;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke:bisque;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke:burlywood;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke:sienna;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke:beige;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}

}


.Reverse {
    padding-top: 60%;
    margin-left: 0.8%;
}

html {
    background-color:rgb(59, 58, 54);
}
  
.ridge {
    padding: 30px;
    position:fixed;
    text-align:left;
}

@keyframes fadeIn {
    0% {
        opacity:0%;
    }
    100% {
        opacity:1;
    }
}

@media only screen and (max-width: 896px) {
    .Reverse {
        padding-top: 193.5%;
        padding-left: 31%;
        
    }

    .About {
        color: beige;
        font-size:200%;
        bottom: 0%;
        left: 23.625%;
        right: 2%;
        margin-top: -15%;
        margin-left: -25%;
        margin-right: 23.8%;
        animation: fadeIn linear 4s;
        
        
    }

    .Test {
        font-size: 80%;
        right: -63%;
        top: -15%;
        
    }
}

